services:
  neya-le-poti-robot:
    image: neya-le-poti-robot:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      APP_ID: ${APP_ID}
      # Set IS_TEST to false explicitly for production, or rely on NODE_ENV=prod
      IS_TEST: "false"
      # Set RESET_DB to false for production to prevent database wipes on restart
      RESET_DB: "false"
      NODE_ENV: prod
    volumes:
      - ./database.sqlite:/app/database.sqlite
    restart: unless-stopped
    networks:
      - nginx-proxy-manager_default

# Define networks if you used them above
networks:
  nginx-proxy-manager_default:
    external: true